# Cache & Compilations Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/

# Builds & Compilations PyInstaller
build/
dist/
*.spec

# Base de données SQLite locale
*.sqlite3
*.db
data/*.db
data/edupaie.db

# Fichiers générés, Reçus PDF & Exports
recus/
recu/
docs/
data/exports/*
data/recu/*
edupaie/data/exports/*
edupaie/data/recu/*
*.xlsx
*.csv