# Cache Python
__pycache__/
*.pyc

# Base de données locale
*.sqlite3

# Dossier des reçus PDF générés
recus/

# Environnement virtuel
venv/
.venv/
build/
dist/
*.spec
data/*.db
*.db

edupaie/data/exports/*
edupaie/data/recu/*
*.xlsx
*.csv